@value colors: "../../constants/colors.module.css";
@value buttonShadow from colors;

@value titleBarHeight: 60px;

.title_icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.title_bar {
  height: titleBarHeight;
}

.title_icon_button {
  height: titleBarHeight;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_icon_button:active {
  background-color: buttonShadow;
}