.root {
  height: 100%;
  width: 300px;
  background-color: #2e294e;
  position: fixed;
  left: 0;
  top: 42px;
  transition: transform 200ms linear;
}

.title_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title_row span {
  color: white;
  margin-right: 30px;
}

.title {
  font-size: 24px;
  color: #fff;
  margin: 20px 30px;
}
